/*mobile*/
@media(min-width:320px){
	.container{
	width:80%;
	margin:auto;

}

/* about section */
	
	.about-row{
	display:flex;
	flex-wrap:wrap;
	width:100%;
}

.about-col{
	width:100%;
	
}


.about-row1{ 
	display:flex;
	flex-wrap:wrap;
	width:100%;
	
 }
.about-col1{
	
	 width:100%;
}
.client-row{
	display:flex;
	width:100%;
	flex-wrap:wrap;
}
.client-col{
	width:50%;
}

    /* service section */
	
	
	 .service-row{
	display:flex;
	flex-wrap:wrap;
	width:100%;
}

.service-col{
	width:100%;
}
.service-col p{
	font-size:14px;
}


		/* portfolio section */
		
.port-row{
	 width:100%;
	 display:flex;
	 flex-wrap:wrap;
	 
	 margin:auto;
 }
	 
 .port-col{
			width:100%;
	
 }		




/* pricing section */

.pricing-row{
	display:flex;
	flex-wrap:wrap;
	width:100%;
	
}
.pricing-col{
	width:100%;
}

  /* team section */
 
.team-row{
	display:flex;
	width:100%;
	flex-wrap:wrap
}
	
.team-col{
	width:100%;
}

/* contact section */

.contact-row{
	display:flex;
	width:100%;
	flex-wrap:wrap;

}
.contact-col{
	width:100%;
}


.contact-row2{
	 display:flex;
	 width:100%;
	 flex-wrap:wrap;
}
.contact-col2{
	width:100%;
}

.form-row{
	display:flex;
	width:100%;
	flex-wrap:wrap;
}
.form-col{
	width:100%;
}

		/* footer section */
		
.footer-row{
	width:100%;
	
	display:flex;
	flex-wrap:wrap;
}
.footer-col{
	width:100%;
}	
  




}
	 
	
	

/* ipad */

@media(min-width:660px){
	.container{
	width:80%;
	margin:auto;
	}
	
	/* about section */
	.about-row{
	display:flex;
	flex-wrap:wrap;
	width:100%;
}

.about-col{
	width:100%;
	
}

.about-row1{ 
	display:flex;
	flex-wrap:wrap;
	width:100%;
	
 } 
 .about-col1{
	
	 width:100%;
}

.client-row{
	display:flex;
	width:100%;
	flex-wrap:wrap;
}
.client-col{
	width:30%;
}



      /* service section */
	  
	 .service-row{
	display:flex;
	flex-wrap:wrap;
	width:100%;
}
.service-col{
	width:50%;
}
.service-col p{
	font-size:16px;
}


		/* portfolio section */
		
		
.port-row{
	 width:100%;
	 display:flex;
	 flex-wrap:wrap;
	 
	 margin:auto;
 }
	 
 .port-col{
			width:100%;
	
 }		











		/* pricing section */
		
.pricing-row{
	display:flex;
	flex-wrap:wrap;
	width:100%;
	
}
.pricing-col{
	width:30%;
}

    /* team section */
	
.team-row{
	display:flex;
	width:100%;
	flex-wrap:wrap;
}
	
.team-col{
	width:30%;
}

/* contact section */

.contact-row{
	display:flex;
	width:100%;

}
.contact-col{
	width:30%;
}



.contact-row2{
	 display:flex;
	 width:100%;
}
.contact-col2{
	width:50%;
}

.form-row{
	display:flex;
	width:100%;
	flex-wrap:wrap;
}
.form-col{
	width:50%;
}


		/* footer section */
		
		
.footer-row{
	width:100%;
	
	display:flex;
	flex-wrap:wrap;
}
.footer-col{
	width:100%;
}	
  




}

/* laptop */
@media(min-width:960px){
	.container{
		width:80%;
		margin:auto;
	}
	
	/* about section */
	.about-row{
	display:flex;
	width:100%;
}

.about-col{
	width:50%;
	
}


.about-row1{ 
	display:flex;
	width:100%;
	
 } 
 .about-col1{
	
	 width:30%;
	
}


.client-row{
	display:flex;
	width:100%;
}
.client-col{
	width:15%;
}



    /* service section */
	
	.service-row{
	display:flex;
	flex-wrap:wrap;
	width:100%;
}
.service-col{
	width:32%;
}
.service-col p{
	font-size:16px;
}

		/* portfolio section */
		
.port-row{
	 width:100%;
	 display:flex;
	 
	 margin:auto;
 }
	 
 .port-col{
			width:30%;
	
 }		








   /* pricing section */
   
.pricing-row{
	display:flex;
	flex-wrap:wrap;
	width:100%;
	
}
.pricing-col{
	width:32%;
}


    /* team section */
	
.team-row{
	display:flex;
	width:100%;

}
	
.team-col{
	width:32%;
}

/* contact section */

.contact-row{
	display:flex;
	width:100%;

}
.contact-col{
	width:30%;
}

.contact-row2{
	 display:flex;
	 width:100%;
}
.contact-col2{
	width:50%;
}

.form-row{
	display:flex;
	width:100%;
}
.form-col{
	width:49%;
}


		/* footer section */
		
		
.footer-row{
	width:100%;
	
	display:flex;
}
.footer-col{
	width:24%;
}
  

}

@media(max-width:960px){ .header label{display:block;
										color:white;
										padding-top:15px;}
						.header{padding:0 10% 5px 10%;
								position:fixed;}
						.header .navigation{position:absolute;
											top:100%;
											left:0;
											right:0;
											background:black;
											display:none;
											}
						.banner-logo{font-size:30px;}					
											
						.header .navigation ul li{width:100%;
												 border-top:1px solid white);
												 }	
						.header .navigation ul li a{padding:8px 30px 8px 10%;}
						.header .navigation ul li ul{position:relative;
													width:100%;
													left:0;
													}
													
						.header .navigation ul li ul li{background:black;
														}

						.header .navigation ul li ul li ul{position:relative;
															width:100%;
															left:0;
															}
															
															
						#toggle:checked~ .navigation{display:block;}									
						
 }